body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: skyblue;
    font-family: 'Chewy', cursive;
    display:flex;
    justify-content: center;
    align-items: center;
}

#Start-Menu{
    text-align: center;
    background-color: lightyellow;
    padding: 80px;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    transform: scale(1.2);
}

#Start-Menu h1{
    font-size: 60px;
    color: goldenrod;
    margin-bottom: 30px;
    animation: pulse 1.5s infinite ease-in-out;
}

#Start-Button{
    font-size: 24px;
    padding: 15px 40px;
    background-color: goldenrod;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    animation: pulse 2s infinite ease-in-out;
}

#Start-Button:hover{
    background-color: goldenrod;
}

@keyframes pulse{
    0% { transform: scale(1); }
    50% { transform: scale(1.15); } /* 1.15 = 115% larger */
    100% { transform: scale(1); }
}